*.iml
.gradle
.kotlin/
/local.properties
/.idea/
gradle/gradle-daemon-jvm.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/release/
/play-assets/phone-screenshots/
/play-assets/zyna-app-icon-1024-ios.png
/play-assets/zyna-feature-graphic-1024x500.png
